/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */



:root {
 
   
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;

}

body {
    color: var(--new-black);
     background-color: #F7FAE7;
       font-family: "Irish Grover", system-ui;
       margin: 0;
       padding: 0;
   
}

.navbar {

    background-color: #d8dfebc0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    height: 70px;

}

.navbar a {

    display: inline;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 25px 25px;
    text-align: center;
    font-size: 25px;

}

.navbar a:hover {
    background: #FBC64F;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: auto;

}

#logo {
    display: flex;
    justify-content: start;
    float: left;
    height: 65px;


}


#btn_login {
    background-color: #FBC64F;
    font-size: 21px;
    font-family: "Irish Grover", system-ui;
    font-style: normal;
    width: 6vw;
    height: 1.5vh;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_cadastro {
    background-color: #ED2F2F;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 21px;
    font-family: "Irish Grover", system-ui;
    font-style: normal;
    width: 6vw;
    height: 1.5vh;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #95a9ff;
    font-family: "Irish Grover", system-ui;
    font-style: normal;
    width: 21vw;
    height: 2vh;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: #cfd7e7;
}
.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#pontuacaoEJogo{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80vh; 
    width: 60vw; 
    background-color: #d8dfebc0; 
    justify-self: center;
    border-radius: 25px;
    margin-top: 70px;
    color: #4B2E17;
    box-shadow:0 4px 8px rgb(134, 134, 134);

}

#pontuacaoFinalJogo, #pontuacaoDuranteJogo{
    display: none;
}

.flex-colunar{
    background-color: #F7FAE7;
    border-radius: 25px;
    padding: 5px;
   
   
    
}




.pontuacao{
 margin: 300px;
}
